#root {
    margin: 0 auto;
    max-width: 1500px;
}

#light {
    background-color: rgb(251 251 251 / 72%);
    height: 100vh;
}

#dark {
    background-color: #000;
    height: 100vh;
}